*{
    margin: 0;
    padding: 0;
}
.todo{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    overflow: scroll;
}
.ToDoList{
    height: max-content;
    margin: 20px auto;
    background-color: cadetblue;
    border-radius: 20px;
    width: max-content;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;

}
.menu{

    padding: 0;
margin-top: 20px;
    width: 100px;
}
.logo{
    margin-left: 10px;
    width: 100px;
        text-align: center;
    font-size: 50px;
    border-radius: 10px;
    background-color:dodgerblue;
    color: wheat;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif ;
    font-weight: bold;
    display: block;
    position: absolute;
}

.todo_text{
    width: 500px;
    padding: 2px;
    height: 100px;
    border-radius: 100px;
    border: none;
}
.todo_input{

    border-radius: 10px;

}
.todo_options{
    font-family: 'Montserrat', sans-serif ;

    background-color: blanchedalmond;
    border-radius: 20px;
    height: max-content;
    padding: 2px;
    margin: 47px 10px;
    font-size: 16px;
    font-weight: bolder;
}
.todo_add{
    border-radius: 10px;
}
.button_to_add_task{
    margin: auto 10px;
    width: 100px;
    border-radius: 100px;
    border: none;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 900;
}
.button_to_delete_ALL_tasks{
    margin: auto 10px;
    width: 100px;
    border-radius: 100px;
    border: none;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 900;
}
.viewTasks{
    background-color:bisque;
    border-radius: 10px;
    width: 1000px;
    height: max-content;

    margin: 20px auto;
    /*left: 520px;*/
    font-family: 'Montserrat', sans-serif ;
    font-size: 36px;
    font-weight: 900;

}
.tasks{
    /*background-color: #ff92b2;*/
    font-family: 'Montserrat', sans-serif ;
    font-weight: bolder;
    font-size: large;
}
.tasks.delAllTasks{
    background-color: blueviolet;
}
.todo_item{
    padding: 10px;
    margin: 15px auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: cornflowerblue;
    /*background-color: cadetblue;*/
    font-size: 24px;

}

.todo_item.checked{
    background-color: gray;
    opacity: 0.5;
    text-decoration: line-through;
}
/*ДОДЕЛАТЬ*/
.todo_item.delition{
    background-color: darkblue;
    animation-duration: 1s;
    animation-name: slideout;
}
/*.todo_item.descriptionTask.checked{*/
/*    background-color: gray;*/
/*    opacity: 0.5;*/
/*    text-decoration: line-through;*/
/*}*/
.todo_item.favorite{
    background-color: indianred;
    animation-duration: 2s;

}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px blanchedalmond solid;*/

}
.buttons h4 {
   display: flex;
    justify-content: space-between;
    margin-right: 10px;

}
.btn-favorite{
    width: 2em;
    height: 2em;
    margin-right: 10px;

}
.btn-complete{
    width: 2em;
    height: 2em;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}
.btn-delete{
    width: 10em;
    height: 2em;
    border-radius: 100px;
    border: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif ;
    font-weight: 900;
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

